# Text files
*.txt
*.csv

#Sapien PowerShell Studio Temp Files
*.TempPoint.ps1

#Executable Files
*.exe

#Installer Files
*.msi

#Mac files
*.DS_Store

#AppDeploymentToolkit branding
AppDeployToolkitBanner.png
AppDeployToolkitLogo.ico

#PFE Remediation Agent configs
PFERemediationSettings.xml
PFERemediation.exe.config
PFERemediationScript.ps1
Primary.txt

AppDeployToolkit/Thumbs\.db
